#googlemaps { 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#blog {
  position: absolute;
  right: 15px;
  height: 100%;
  overflow-y: auto; 
}

.blogentry { 
  position: relative; 
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 560px;
  margin: 10px auto 0;
  padding: 10px;
  background: white;
  height: auto;
  opacity: 1; /* Set the opacity for a slightly transparent Google Form */ 
  color: white;
}

#title {
font-family: Tahoma, Geneva, sans-serif;
color: white;
background: black;
padding: 5px;

}